.newsDiv {
  background: #fafafa;
  text-align: center;
}
.submitButton {
  background: #1976d2 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  padding: 0.4rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #4788c8;
}
.emailInput {
  font: Regular 24px/40px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  border-radius: 1rem;
  padding: 0.2rem 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.title {
  padding-bottom: 1rem;
  font: Bold 2rem Poppins;
  width: 60%;
  margin: auto;
  letter-spacing: 1.7px;
  color: #10131a;
  opacity: 1;
}
.para {
  font: Regular 24px/40px Poppins;
  letter-spacing: 0px;
  color: #10131a;
  opacity: 1;
  padding-bottom: 1rem;
  width: 60%;
  margin: auto;
  padding-bottom: 1rem;
}
