.serviceContent {
  margin-bottom: 1.9rem;
  background: 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 6px #00000029;
  border-radius: 0.25rem;
  opacity: 1;
}

.serviceImg {
  display: block;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 7rem;
  width: 5rem;
}
.serviceHeading {
  text-align: center;
  padding-bottom: 2rem;
  margin: 0;
  font: Bold 22px/35px Poppins;
  color: #10131a;
}
.servicePara {
  text-align: center;
  margin: 0;
  padding: 0 0 1.6rem 0;
  font: Regular 20px/24px Helvetica Neue;
  color: #333333;
}
